@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-text: var(--text);
  --color-accent: var(--accent);
}

:root, .light-theme {
  --primary: #ea580c;        /* Cam sẫm đậm nhất, được dùng cho biểu đồ đường và các thẻ nổi bật */
  --secondary: #6b7280;      /* Xám đậm, dùng cho văn bản mục menu không được chọn và văn bản phụ */
  --background: #ffffff;     /* Trắng chủ đạo của nền chính */
  --text: #111827;           /* Gần đen, được dùng cho tiêu đề chính như "Dashboard" và tên các mục menu */
  --accent: #ff6b00;         /* Cam đậm nổi bật, được dùng cho văn bản nút "Tổng quan" và thẻ menu được chọn */
}

.dark-theme {
  --primary: #ea580c;        
  --secondary: #6b7280;     
  --background: #0f172a;    
  --text: #ffffff;
  --accent: #ff6b00;         
}